* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10pt;
}

@import url('https://fonts.googleapis.com/css?family=Raleway:400,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

@font-face {
  font-family: 'TuesdayNight';
  font-style: normal;
  font-weight: normal;
  src: local('TuesdayNight'), url('/font/TuesdayNight-Regular.otf') format('truetype');
}

:root {
  --primaryColor: #af9a7d;
  --primaryLogoColor: #FE390D;
  --mainWhite: #fff;
  --offWhite: #f8f8f8;
  --mainBlack: #212121;
  --mainGrey: #ececec;
  --darkGrey: #cfcfcf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

/* globals */
body {
  padding-top: 66px;
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: 'Open Sans', sans-serif;
  line-height: 1.4;
  font-size: 10px;
}

h1 {
  font-size: 4rem;
}


.btn-primary {
  display: inline-block;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: var(--mainBlack);
  background: var(--primaryColor);
  padding: 0.4rem 0.9rem;
  border: 3px solid var(--primaryColor);
  transition: var(--mainTransition);
  text-transform: uppercase;
  cursor: pointer;
}

.btn-primary:hover {
  background: transparent;
  color: var(--primaryColor);
}

.loading {
  text-transform: capitalize;
  text-align: center;
  margin-top: 3rem;
}

.error {
  text-align: center;
  text-transform: uppercase;
  margin: 2rem 0;
}

.empty-search {
  text-align: center;
  text-transform: capitalize;
  margin: 2rem 0;
  padding: 1rem;
  letter-spacing: var(--mainSpacing);
}

/* end of globals */

/* Navbar */
.custom-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.75rem 2rem;
  background: var(--offWhite);
  z-index: 1;
}

.custom-nav-header {
  display: flex;
  justify-content: space-between;
}

.custom-nav-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.custom-nav-icon {
  font-size: 1.5rem;
  color: var(--primaryLogoColor);
}

.logo-img {
  height: 50px;
}

.custom-nav-links {
  height: 0;
  overflow: hidden;
  transition: var(--mainTransition);
  list-style-type: none;

  display: block;
  text-decoration: none;
  transition: var(--mainTransition);
  text-align: center;
  font-size: 1rem;
  letter-spacing: var(--mainSpacing);
  color: #9C9C9C;
  font-family: 'Open Sans', sans-serif;
}

.custom-nav-links a {
  display: block;
  text-decoration: none;
  transition: var(--mainTransition);
  text-align: center;
  font-size: 1rem;
  letter-spacing: var(--mainSpacing);
  color: #9C9C9C;
  font-family: 'Open Sans', sans-serif;
  margin: 20px 0;
}

.custom-nav-links a:hover {
  color: var(--primaryLogoColor);
}

.show-nav {
  height: 100%;
}

.show-link {
  display: none;
}

@media screen and (min-width: 768px) {
  .custom-nav-btn {
    display: none;
  }

  .custom-nav-center {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  .custom-nav-links {
    height: auto;
    display: flex;
    align-items: center;
    margin: 0;
  }

  .custom-nav-links a {
    padding: 0.5rem 0;
    margin: 0;
  }

  .show-link {
    display: block;
  }
}

/* end of navbar */


/* Footer */
.footer {
  max-width: 1170px;
  margin: 0 auto;
}

.custom-footer-center {
  display: block;
  color: #F8F8F8;
}

.custom-footer-links {
  overflow: hidden;
  transition: var(--mainTransition);
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.custom-footer-links a {
  display: block;
  text-decoration: none;
  transition: var(--mainTransition);
  font-size: 1rem;
  color: #9C9C9C;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  letter-spacing: 0.36px;
  text-align: right;

  margin-right: 10px;
  cursor: pointer;
}

.custom-footer-links a:hover {
  color: var(--primaryLogoColor);
}

.footer-line {
  width: 80%;
  margin: 0 auto;
}

.footer-copyright {
  display: flex;
  justify-content: center !important;
  color: #9C9C9C;
}

@media screen and (min-width: 768px) {
  .custom-footer-center {
    display: flex;
    justify-content: space-between;
    max-width: 1170px;
    margin: 0 auto;
  }

  .custom-footer-links {
    height: auto;
    display: flex;
    align-items: center;
  }

  .custom-footer-links a {
    padding: 0.5rem 0;
    margin-right: 20px;
  }
}

/* end of footer */




/* project section */
.project-section {
  padding: 5rem 2rem;
  background-color: var(--offWhite);
}

.category-title {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.79;
  letter-spacing: normal;
  text-align: center;
  color: black;

  margin: 2rem 0;
}

.category-title ul {
  list-style-type: none;
  display: block;
}

.category-title ul li {
  display: inline-block;
  font-size: 1.2rem;
  margin: 0 1rem;
  letter-spacing: .8px;
  cursor: pointer;
}

/* About section */
.about-section {
  padding: 5rem 2rem;
}

.about-section .about-container {
  padding: 5rem;
}

.about-section .about-container .content-box {
  margin: 3rem 0;
}

.about-section .about-container .content {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 1.6px;
  color: #58595b;
  margin-top: 1rem;
}

.about-section .about-container .content .points {
  padding: 2rem;
}

.about-section .about-container .content .highlight {
  font-size: 2.2rem;
  font-weight: 800;
  letter-spacing: normal;
  color: #3e3e3e;
}

.red-highlight {
  color: #ee3124;
  font-size: 2.2rem;
  font-weight: 800;
  letter-spacing: normal;
}


.about-section .about-container .box {
  background-color: #f8f8f8;
  height: 100%;
}

.about-section .about-container .box .quote-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
  padding: 0 5%;
}

.about-section .about-container .box .quote {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #414042;
  widows: 70%;
}

.about-section .about-container .box .quote-signature {
  font-family: TuesdayNight;
  font-size: 2.5rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.96;
  letter-spacing: normal;
  text-align: center;
  color: #ef4123;
  margin-top: 1rem;
}

.team-button {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin: 3rem 0;

  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.79;
  letter-spacing: normal;
  text-align: center;
  color: #000000;

  cursor: pointer;
}

/* what we do section */
.what-we-do-section {
  padding: 5rem 2rem;
}

.what-we-do-section .what-we-do-container {
  padding: 5rem;
}

.box-container {}

.box-container .box-image {
  padding-bottom: 1rem;
  display: flex;
  height: 500px;
  align-items: flex-end;
  padding-left: 2rem;
}

.box-container .image-1 {
  background-image: url("/images/Stambha-Artboard1_37.jpg");
}

.box-container .image-2 {
  background-image: url("/images/Stambha-Artboard1_39.jpg");
}

.box-container .image-3 {
  background-image: url("/images/Stambha-Artboard1_41.jpg");
}

.box-container .image-4 {
  background-image: url("/images/Stambha-Artboard1_43.jpg");
}

.box-container .box-image .points ul {
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.box-container .box-image .points li {
  font-size: 1.2rem;
  line-height: 2.53;
}

.box-container .box-footer {
  text-align: center;
  padding: 2rem 0;
  box-shadow: 0px 1px 5px 0.1px rgba(0, 0, 0, 0.15);
  background-color: #f6f6f6;

  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #414042;
}

/* Designs and build section */
.design-section {
  background-image: url("/images/Stambha-Artboard1_48.jpg");
  padding: 5rem 2rem;
}
.design-container {
  padding: 5rem;
}

.design-section-heading {
  font-family: Raleway;
  font-size: 3rem;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.design-container  .horizontal-line-heading {
  text-align: center;
  width: 6%;
  margin: 10px auto;
  border: 2px solid #FF903E;
}
.design-container .design-section-subheading {
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;

  margin: 2rem 0;
}

/* heading */
.heading {
  font-family: Raleway;
  font-size: 5rem;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  color: var(--mainBlack);
}

.heading .horizontal-line-heading {
  text-align: center;
  width: 6%;
  margin: 10px auto;
  border: 2px solid #FF903E;
}