* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10pt;
}

@import url('https://fonts.googleapis.com/css?family=Raleway:400,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

@font-face {
  font-family: 'TuesdayNight';
  font-style: normal;
  font-weight: normal;
  src: local('TuesdayNight'), url('/font/TuesdayNight-Regular.otf') format('truetype');
}

:root {
  --primaryColor: #af9a7d;
  --primaryLogoColor: #FE390D;
  --mainWhite: #fff;
  --offWhite: #f8f8f8;
  --mainBlack: #212121;
  --mainGrey: #ececec;
  --darkGrey: #cfcfcf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

/* globals */
body {
  padding-top: 66px;
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: 'Open Sans', sans-serif;
  line-height: 1.4;
  font-size: 10px;
}

h1 {
  font-size: 4rem;
}


.btn-primary {
  display: inline-block;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: var(--mainBlack);
  background: var(--primaryColor);
  padding: 0.4rem 0.9rem;
  border: 3px solid var(--primaryColor);
  transition: var(--mainTransition);
  text-transform: uppercase;
  cursor: pointer;
}

.btn-primary:hover {
  background: transparent;
  color: var(--primaryColor);
}

.loading {
  text-transform: capitalize;
  text-align: center;
  margin-top: 3rem;
}

.error {
  text-align: center;
  text-transform: uppercase;
  margin: 2rem 0;
}

.empty-search {
  text-align: center;
  text-transform: capitalize;
  margin: 2rem 0;
  padding: 1rem;
  letter-spacing: var(--mainSpacing);
}

/* end of globals */

/* Navbar */
.custom-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.75rem 2rem;
  background: var(--offWhite);
  z-index: 1;
}

.custom-nav-header {
  display: flex;
  justify-content: space-between;
}

.custom-nav-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.custom-nav-icon {
  font-size: 1.5rem;
  color: var(--primaryLogoColor);
}

.logo-img {
  height: 50px;
}

.custom-nav-links {
  height: 0;
  overflow: hidden;
  transition: var(--mainTransition);
  list-style-type: none;

  display: block;
  text-decoration: none;
  transition: var(--mainTransition);
  text-align: center;
  font-size: 1rem;
  letter-spacing: var(--mainSpacing);
  color: #9C9C9C;
  font-family: 'Open Sans', sans-serif;
}

.custom-nav-links a {
  display: block;
  text-decoration: none;
  transition: var(--mainTransition);
  text-align: center;
  font-size: 1rem;
  letter-spacing: var(--mainSpacing);
  color: #9C9C9C;
  font-family: 'Open Sans', sans-serif;
  margin: 20px 0;
}

.custom-nav-links a:hover {
  color: var(--primaryLogoColor);
}

.show-nav {
  height: 100%;
}

.show-link {
  display: none;
}

@media screen and (min-width: 768px) {
  .custom-nav-btn {
    display: none;
  }

  .custom-nav-center {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  .custom-nav-links {
    height: auto;
    display: flex;
    align-items: center;
    margin: 0;
  }

  .custom-nav-links a {
    padding: 0.5rem 0;
    margin: 0;
  }

  .show-link {
    display: block;
  }
}

/* end of navbar */


/* Footer */
.footer {
  max-width: 1170px;
  margin: 0 auto;
}

.custom-footer-center {
  display: block;
  color: #F8F8F8;
}

.custom-footer-links {
  overflow: hidden;
  transition: var(--mainTransition);
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.custom-footer-links a {
  display: block;
  text-decoration: none;
  transition: var(--mainTransition);
  font-size: 1rem;
  color: #9C9C9C;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  letter-spacing: 0.36px;
  text-align: right;

  margin-right: 10px;
  cursor: pointer;
}

.custom-footer-links a:hover {
  color: var(--primaryLogoColor);
}

.footer-line {
  width: 80%;
  margin: 0 auto;
}

.footer-copyright {
  display: flex;
  justify-content: center !important;
  color: #9C9C9C;
}

@media screen and (min-width: 768px) {
  .custom-footer-center {
    display: flex;
    justify-content: space-between;
    max-width: 1170px;
    margin: 0 auto;
  }

  .custom-footer-links {
    height: auto;
    display: flex;
    align-items: center;
  }

  .custom-footer-links a {
    padding: 0.5rem 0;
    margin-right: 20px;
  }
}

/* end of footer */




/* project section */
.project-section {
  padding: 5rem 2rem;
  background-color: var(--offWhite);
}

.category-title {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.79;
  letter-spacing: normal;
  text-align: center;
  color: black;

  margin: 2rem 0;
}

.category-title ul {
  list-style-type: none;
  display: block;
}

.category-title ul li {
  display: inline-block;
  font-size: 1.2rem;
  margin: 0 1rem;
  letter-spacing: .8px;
  cursor: pointer;
}

/* About section */
.about-section {
  padding: 5rem 2rem;
}

.about-section .about-container {
  padding: 5rem;
}

.about-section .about-container .content-box {
  margin: 3rem 0;
}

.about-section .about-container .content {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 1.6px;
  color: #58595b;
  margin-top: 1rem;
}

.about-section .about-container .content .points {
  padding: 2rem;
}

.about-section .about-container .content .highlight {
  font-size: 2.2rem;
  font-weight: 800;
  letter-spacing: normal;
  color: #3e3e3e;
}

.red-highlight {
  color: #ee3124;
  font-size: 2.2rem;
  font-weight: 800;
  letter-spacing: normal;
}


.about-section .about-container .box {
  background-color: #f8f8f8;
  height: 100%;
}

.about-section .about-container .box .quote-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
  padding: 0 5%;
}

.about-section .about-container .box .quote {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #414042;
  widows: 70%;
}

.about-section .about-container .box .quote-signature {
  font-family: TuesdayNight;
  font-size: 2.5rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.96;
  letter-spacing: normal;
  text-align: center;
  color: #ef4123;
  margin-top: 1rem;
}

.team-button {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin: 3rem 0;

  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.79;
  letter-spacing: normal;
  text-align: center;
  color: #000000;

  cursor: pointer;
}

/* what we do section */
.what-we-do-section {
  padding: 5rem 2rem;
}

.what-we-do-section .what-we-do-container {
  padding: 5rem;
}

.box-container .box-image {
  padding-bottom: 1rem;
  display: flex;
  height: 500px;
  align-items: flex-end;
  padding-left: 2rem;
}

.box-container .image-1 {
  background-image: url("/images/Stambha-Artboard1_37.jpg");
}

.box-container .image-2 {
  background-image: url("/images/Stambha-Artboard1_39.jpg");
}

.box-container .image-3 {
  background-image: url("/images/Stambha-Artboard1_41.jpg");
}

.box-container .image-4 {
  background-image: url("/images/Stambha-Artboard1_43.jpg");
}

.box-container .box-image .points ul {
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.box-container .box-image .points li {
  font-size: 1.2rem;
  line-height: 2.53;
}

.box-container .box-footer {
  text-align: center;
  padding: 2rem 0;
  box-shadow: 0px 1px 5px 0.1px rgba(0, 0, 0, 0.15);
  background-color: #f6f6f6;

  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #414042;
}

/* Designs and build section */
.design-section {
  background-image: url("/images/Stambha-Artboard1_48.jpg");
  padding: 5rem 2rem;
}
.design-container {
  padding: 5rem;
}

.design-section-heading {
  font-family: Raleway;
  font-size: 3rem;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.design-container  .horizontal-line-heading {
  text-align: center;
  width: 6%;
  margin: 10px auto;
  border: 2px solid #FF903E;
}
.design-container .design-section-subheading {
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;

  margin: 2rem 0;
}

/* pricing section */
.pricing-container .price-card {
  background-image: url("/images/pricing-1.jpg");
  padding: 0;
}

.pricing-container .second {
  background-image: url("/images/pricing-2.jpg");
  padding: 0;
}
.pricing-container .price-card  .price-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;

  padding: 12%;

  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #ffffff;
}
.pricing-container .price-card  .price-content h1{
  font-size: 3rem;
}
.pricing-container .price-card  .price-content h3{
  font-size: 2rem;
  font-weight: bold;
}
.carousel.carousel-slider .control-arrow {
  background: grey !important;
}
/* testomonial */
.testimonial {
  background: white;
  padding: 5rem 2rem;
}
.testimonial .heading {
  margin-bottom: 5%;
}
.testimonial .content {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;

  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
}
.testimonial .content h6{
  font-size: 2rem;
  color: #333333;
  margin: 0;
}
.testimonial .content p{
  font-size: 1.2rem;
  color: #86878b;
  margin-bottom: 20px;
}

/* contact us  */
.contact-us-section .contact-us-card {
  background-image: url("/images/contact-us.jpg");
  padding: 0;
}

.contact-us-section .contact-us-card .contact-us-body {
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 5%;
  width: 80%;
  margin: 0 auto;
}

.contact-us-body-heading h1{
  font-family: Raleway;
  font-size: 3rem;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: var(--mainWhite);
}
.contact-us-body-heading .horizontal-line-heading{
  text-align: left;
  width: 10%;
  border: 2px solid #FF903E;
}
.contact-us-section .contact-us-card .contact-us-body input, textarea {
  border-radius: 7px;
  border: solid 1px #ffffff;
  background-color: #ffffff;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

.contact-us-section .contact-us-card .contact-us-body button {
  border-radius: 7px;
  border: solid 1px #ff3600;
  background: #ff3600;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  color: white;
}

/* heading */
.heading {
  font-family: Raleway;
  font-size: 5rem;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  color: var(--mainBlack);
}

.heading .horizontal-line-heading {
  text-align: center;
  width: 6%;
  margin: 10px auto;
  border: 2px solid #FF903E;
}


/* Team Pages */
.team-banner {
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
  color: var(--mainWhite);
  padding: 2rem 1rem;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.team-banner h1 {
  font-size: 4rem;
  font-family: 'Open Sans', sans-serif;
}

.defaultTeamBanner {
  min-height: calc(100vh - 66px);
  background: url("/images/teams/banner.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-body .team-card {
  margin: 5% 0;
}

.team-body .team-card  .picture .team-picture {
  width: 100%;
}

.team-body .team-card  .team-content {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
}

.team-body .team-card  .team-content h1 {
  font-size: 3rem;
  font-weight: 900;
  color: #000000;
}
.team-body .team-card  .team-content h3 {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.33;
  color: #ee3124;
}
.team-body .team-card  .team-content p{
  font-size: 1.2rem;
  line-height: 1.88;
  text-align: justify;
  color: #58595b;
}

.team-right {
  text-align: right;
}

@media screen and (max-width: 768px) {

  .team-banner h1 {
    font-size: 2.5rem;
  }
  
  .team-body .team-card {
    margin: 10% 0;
  }
  
  .team-body .team-card  .team-content h1 {
    font-size: 2rem;
  }
  .team-body .team-card  .team-content h3 {
    font-size: 1.5rem;
  }
  .team-body .team-card  .team-content p{
    font-size: 1rem;
  }

  .team-right {
    order: 1;
    text-align: left;
  }
}

/* Single Portfolio  */
.single-project-banner {
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
  color: var(--mainWhite);
  padding: 2rem 1rem;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
} 

.defaultProjectBanner {
  min-height: calc(100vh - 66px);
  background: url("/images/portfolio/banner.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile-on {
  display: none;
}

.single-project-banner .project-card {
  background: white;
  color: black;
  position: absolute;
  bottom: -100px;
  width: 50%;
  left: 100px;

  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #333132;
  text-align: left;

  box-shadow: 1.1px 10.9px 17.6px 0.4px rgba(0, 0, 0, 0.04);
  padding: 30px;
}

.single-project-banner .project-card  h1 {
  font-size: 2.4rem;
  margin-bottom: 20px;
}

.single-project-banner .project-card  p {
  font-size: 1.3rem;
  font-weight: 300;
  color: #58595b;
  margin-bottom: 40px;
}

.single-project-banner .project-card  h6 {
  font-size: 1.6rem;
  font-weight: bold;
}

.single-project-body {
  margin-top: 10%;
}

.single-project-image {
  width: 100%;
  margin-bottom: 5%;
}

.single-project-footer  .project-footer {
  display: flex;
  align-items: center;
}
.single-project-footer .project-footer .back-image {
  height: 100px;
  width: 100px;
  cursor: pointer;
}

.single-project-footer .project-footer .content {
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;

  margin-left: 20px;
}
.single-project-footer .project-footer .content p {
  font-size: 1rem;
  color: #333132;
}
.single-project-footer .project-footer .content h6 {
  color: #ee3124;
  font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
  .mobile-off {
    display: none;
  }

  .mobile-on {
    display: block
  }
  
  .project-card {
    position: relative;
    box-shadow: 1.1px 10.9px 17.6px 0.4px rgba(0, 0, 0, 0.04);
    padding: 30px;
  }
  
  .project-card  h1 {
    font-size: 2rem;
    margin-bottom: 30px;
  }
  
  .project-card  p {
    font-size: 1rem;
    margin-bottom: 50px;
  }
  
  .project-card  h6 {
    font-size: 1.2rem;
  }

.single-project-footer .project-footer .back-image {
  height: 60px;
  width: 60px;
}

.single-project-footer .project-footer .content p {
  font-size: .8rem;
}
.single-project-footer .project-footer .content h6 {
  color: #ee3124;
}
}